<%- include('partials/header') -%>
<div class="container">
    <div class="col-12">
      <h1>Match</h1>
      <ul class="row list-unstyled">
        <% for(var i=0; i<match.metadata.participants.length; i++) {%>
        <li class="match-particpant">
          <!-- Match Info -->
          <ul class="match-stats">
            <li class="match-placement">
              <h5>Rank</h5>
              <h2><%= match.info.participants[i].placement %></h2>
            </li>
            <!-- Team -->
            <li class="summonerMatch unit-list">
              <h5>Team</h5>
              <ul>
                <% let sortedUnits = match.info.participants[i].units.sort((a,b) => a.rarity.toString().localeCompare(b.rarity.toString()) || a.tier - b.tier) %>
                <% for(var j=0; j<sortedUnits.length; j++) {%>
                  <li class="unit-container <%= "rarity-"+sortedUnits[j].rarity %>">

                      <!-- Champion Tier Tier (1-3) -->
                      <%- "&#9733;".repeat(sortedUnits[j].tier) %>
                      <% let set = "set_" + match.info.tftSetNumber %>
                      <% console.log(set) %>
                      <img class="unit-asset" src="<%= assets[set].champions[sortedUnits[j].character_id.split('_')[1].toLowerCase()].assetUrl %>">
                      
                      <!-- Equipped Items -->
                      <div class="item-box-container">
                        <% let unitItems = sortedUnits[j].itemNames %>
                        <% let itemAsset = itemAssets.TFT.transparent.assetUrl %>
                        <% (unitItems.length > 0 && unitItems[0].split('_')[0] === "TFT") ? itemAsset = itemAssets[unitItems[0].split('_')[0]][unitItems[0].split('_')[2]].assetUrl : itemAsset = itemAssets.TFT.transparent.assetUrl %>
                        <img class="item-box" src=<%= itemAsset %>>
                        <% (unitItems.length > 1 && unitItems[1].split('_')[0] === "TFT") ? itemAsset = itemAssets[unitItems[1].split('_')[0]][unitItems[1].split('_')[2]].assetUrl : itemAsset = itemAssets.TFT.transparent.assetUrl %>
                        <img class="item-box" src=<%= itemAsset %>>
                        <% (unitItems.length > 2 && unitItems[2].split('_')[0] === "TFT") ? itemAsset = itemAssets[unitItems[2].split('_')[0]][unitItems[2].split('_')[2]].assetUrl : itemAsset = itemAssets.TFT.transparent.assetUrl %>
                        <img class="item-box" src=<%= itemAsset %>>
                      </div>
                      <p class="<%= (j >= 5) ? "unit-name-top" : "unit-name-bottom" %>"><%= assets[set].champions[sortedUnits[j].character_id.split('_')[1].toLowerCase()].name %></p>
                  </li>
                <% } %>
              </ul>
            </li>
            <!-- Traits -->
            <li class="match-trait-list">
              <h5>Traits</h5>
              <ul class="match-assets">
                <% let traitColorArray = ["#cd7f32", "silver", "gold", "lightskyblue"] %>
                <% let matchTraits = match.info.participants[i].traits.sort((a,b) => (b.tier_current / b.tier_total) - (a.tier_current / a.tier_total)) %>
                <% for(var j=0; j<matchTraits.length; j++) {%>
                  <% let trait = matchTraits[j] %>
                  <% let traitAsset = traitAssets[trait.name.split('_')[1]] %>
                  <% let colorIndex = trait.current >= 3 ? 4 : Math.round(trait.tier_current/trait.tier_total * 3)-1 %>
                  <% if(trait.tier_current > 0) { %>
                  <li class="match-trait" style="top: <%= 35 * j %>px; left: <%= 22 * (j%2) %>px">
                    <div class="hexagon" style="--my-color-var: <%= traitColorArray[colorIndex] %>">
                      <div class="match-trait-asset-mask" style=" mask-image: url(<%= traitAsset.assetUrl %>); -webkit-mask-image: url(<%= traitAsset.assetUrl %>)"></div>
                    </div> 
                    <span class="trait-name"><%= traitAsset.name %> </span>
                  </li>
                  <% } %>
                <% } %>
              </ul>
            </li>
            <!-- Augments -->
            <li class="match-augments">
              <h5>Augments</h5>
              <ul>
                <li>
                  <h6>1st Round: </h6>
                  <%= match.info.participants[i].augments[0].split('_')[2] %>
                </li>
                <li>
                  <h6>2nd Round: </h6>
                  <%= match.info.participants[i].augments[1].split('_')[2] %>
                </li>
                <li>
                  <h6>3rd Round: </h6>
                  <%= match.info.participants[i].augments[2].split('_')[2] %>
                </li>
              </ul>
            </li>
            <!-- Other Stats-->
            <li class="misc-match-stats">
              <h5>End of Game</h5>
              <ul>
                <li>Level: <%= match.info.participants[i].level %></li>
                <li>Gold: <%= match.info.participants[i].goldLeft %></li>
                <li>Damage Dealt: <%= match.info.participants[i].damageToPlayer %></li>
                <li>Knockouts: <%= match.info.participants[i].playerEliminations %></li>
              </ul>

            </li>

          </ul>

        <% } %>
      </ul> 
  </div>
</div>
<%- include('partials/footer') -%>