<%- include('partials/header') -%>
<div class="container">
    <div class="col-12">
      <h1>Match</h1>
      <ul class="row list-unstyled">
        <% for(var i=0; i<match.metadata.participants.length; i++) {%>
        <li class="match-particpant">
          <ul class="match-stats">
            <li class="match-placement">
              <span>Rank</span>
              <h2><%= match.info.participants[i].placement %></h2>
            </li>
            
            <li class="unit-list">
              <span>Team</span>
              <ul>     
                <% for(var j=0; j<match.info.participants[i].units.length; j++) {%>
                  <% console.log(match.info.participants[i].units[j]) %>
                  <li>
                    <% let set = "set_" + match.info.tftSetNumber %>
                    <img src="<%= assets[set].champions[match.info.participants[i].units[j].character_id.split('_')[1].toLowerCase()].assetUrl %>"> 
                    <p class="<%= (j >= 5) ? "unit-name-top" : "unit-name-bottom" %>"><%= assets[set].champions[match.info.participants[i].units[j].character_id.split('_')[1].toLowerCase()].name %></p>
                  </li>
                <% } %>
              </ul>
            </li>
            <li class="match-trait-list">
              <span>Traits</span>
              <ul>
                <% for(var j=0; j<match.info.participants[i].traits.length; j++) {%>
                  <% if(match.info.participants[i].traits[j].tier_current > 0) { %>
                  <li>
                    <%= match.info.participants[i].traits[j].name.split('_')[1] %>
                  </li>
                  <% } %>
                <% } %>
              </ul>
            </li>
            <li class="match-augments">
              <span>Augments</span>
              <ul>
                <% for(var j=0; j<match.info.participants[i].augments.length; j++) { %>
                  <li>
                    <%= match.info.participants[i].augments[j].split('_')[2] %>
                  </li>
                <% } %>
              </ul>
            </li>

          </ul>
        <% } %>
      </ul> 
  </div>
</div>
<%- include('partials/footer') -%>