<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
    <div class="row">
      <div class="col-3">
          <div class="mt-5">
            <h2 class="main-color"><%= summoner[0].summonerName %></h2>
            <form action="/summoner/<%= summoner[0].summonerName %>/importMatches" enctype="multipart/form-data" method="POST">
              <button type="submit" class="btn btn-primary main-color-bg" value="submit">Import New Matches</button>
            </form>
          </div>
      </div>
      <div class ="col-9">
        <div class="mt-5 profile-stats">
          <ul>
            <li>
              <h3><%= ((stats.wins/stats.games)*100).toFixed(2) %></h3>
              <ul class="sub-stats">
                <li><%= ((stats.winsNormal/stats.normalGames)*100).toFixed(2) %></li>
                <li><%= ((stats.winsRanked/stats.rankedGames)*100).toFixed(2) %></li>
              </ul>
              <h5>Top 4 Win %</h5>
            </li>
            <li>
              <h3><%= ((stats.totalPlacement/stats.games)).toFixed(2) %></h3>
              <ul class="sub-stats">
                <li><%= ((stats.totalPlacementNormal/stats.normalGames)).toFixed(2) %></li>
                <li><%= ((stats.totalPlacementRanked/stats.rankedGames)).toFixed(2) %></li>
              </ul>
              <h5>Avg. Rank</h5>
            </li>
            <li>
              <h4>Top Traits</h4>
              <% if(stats.traitArray.length > 2) { %>
              <ul class="top-traits">
                <% let traitColorArray = ["#cd7f32", "silver", "gold", "lightskyblue"] %>
                <% for(let i = 0; i <= 2; i++){ %>
                  <% let trait = stats.traitArray[i] %>
                  <% console.log(trait) %>
                  <% let traitAsset = traitAssets[trait[0].split('_')[1]] %>
                  <% console.log(traitAsset) %>
                  <li class="match-trait" style="top: <%= 35 * i %>px; left: <%= 22 * (i%2) %>px">
                    <div class="hexagon" style="--my-color-var: <%= traitColorArray[2 - i] %>">
                      <div class="match-trait-asset-mask" style=" mask-image: url(<%= traitAsset.assetUrl %>); -webkit-mask-image: url(<%= traitAsset.assetUrl %>)"></div>
                    </div> 
                    <span class="top-trait-label"><%= traitAsset.name %> </span>
                  </li>
                  
                <% } %>
              </ul>
              <% } else { %>
                <span>Please import matches</span>
              <% } %>
              
            </li>
            <li>
              <h4>Top Augments</h4>
              <% if(stats.traitArray.length > 2) { %>
              <ul class="top-traits">
                <% let traitColorArray = ["#cd7f32", "silver", "gold", "lightskyblue"] %>
                <% for(let i = 0; i <= 2; i++){ %>
                  <% let augment = stats.augmentArray[i] %>
                  
                  <li class="match-trait" style="top: <%= 35 * i %>px; left: <%= 22 * (i%2) %>px">
                    <div class="hexagon" style="--my-color-var: <%= traitColorArray[2 - i] %>">
                      <div class="match-trait-asset-mask" style=" mask-image: url(https://raw.communitydragon.org/latest/game/assets/ux/traiticons/trait_icon_shapeshifter.png); -webkit-mask-image: url(https://raw.communitydragon.org/latest/game/assets/ux/traiticons/trait_icon_shapeshifter.png)"></div>
                    </div> 
                    <span class="top-trait-label"><%= augment[0].split('_')[2] %> </span>
                  </li>
                  <% } %>
              </ul>
              <% } else { %>
                <span>Please import matches</span>
              <% } %>
              
            </li>
          </ul>
          
        </div>
      </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-11">
        <ul class="row list-unstyled match-list">
          <% for(var i=0; i<summonerMatches.length; i++) {%>
          <li>
            <ul class="match-stats">
              <li class="match-placement">
                <span>Rank</span>
                <h2><%= summonerMatches[i].data.placement %></h2>
              </li>
              <li class="summonerMatch unit-list">
                <span>Team</span>
                <ul>
                  <% let sortedUnits = summonerMatches[i].data.units.sort((a,b) => a.rarity.toString().localeCompare(b.rarity.toString()) || a.tier - b.tier) %>
                  <% for(var j=0; j<sortedUnits.length; j++) {%>
                    <li class="unit-container <%= "rarity-"+sortedUnits[j].rarity %>">

                        <!-- Tier (1-3) -->
                        <%- "&#9733;".repeat(sortedUnits[j].tier) %>
                        <% let set = "set_" + summonerMatches[i].setNumber %>
                        <img class="unit-asset" src="<%= assets[set].champions[sortedUnits[j].character_id.split('_')[1].toLowerCase()].assetUrl %>">
                        
                        <!-- Equipped Items -->
                        <div class="item-box-container">
                          <% let unitItems = sortedUnits[j].itemNames %>
                          <% let itemAsset = itemAssets.TFT.transparent.assetUrl %>
                          <% (unitItems.length > 0 && unitItems[0].split('_')[0] === "TFT") ? itemAsset = itemAssets[unitItems[0].split('_')[0]][unitItems[0].split('_')[2]].assetUrl : itemAsset = itemAssets.TFT.transparent.assetUrl %>
                          <img class="item-box" src=<%= itemAsset %>>
                          <% (unitItems.length > 1 && unitItems[1].split('_')[0] === "TFT") ? itemAsset = itemAssets[unitItems[1].split('_')[0]][unitItems[1].split('_')[2]].assetUrl : itemAsset = itemAssets.TFT.transparent.assetUrl %>
                          <img class="item-box" src=<%= itemAsset %>>
                          <% (unitItems.length > 2 && unitItems[2].split('_')[0] === "TFT") ? itemAsset = itemAssets[unitItems[2].split('_')[0]][unitItems[2].split('_')[2]].assetUrl : itemAsset = itemAssets.TFT.transparent.assetUrl %>
                          <img class="item-box" src=<%= itemAsset %>>
                        </div>
                        <p class="<%= (j >= 5) ? "unit-name-top" : "unit-name-bottom" %>"><%= assets[set].champions[sortedUnits[j].character_id.split('_')[1].toLowerCase()].name %></p>
                    </li>
                  <% } %>
                </ul>
              </li>
              <li class="match-trait-list">
                <span>Traits</span>
                <ul class="match-assets">
                  <% let matchTraits = summonerMatches[i].data.traits.sort((a,b) => (b.tier_current / b.tier_total) - (a.tier_current / a.tier_total)) %>
                  <% for(var j=0; j<matchTraits.length; j++) {%>
                    <% let trait = matchTraits[j] %>
                    <% let traitAsset = traitAssets[trait.name.split('_')[1]] %>
                    <% if(trait.tier_current > 0) { %>
                    <li class="match-trait" style="top: <%= 35 * j %>px; left: <%= 22 * (j%2) %>px">
                      <div class="hexagon trait-tier-<%=trait.current >= 4 ? 4 : Math.round(trait.tier_current/trait.tier_total * 3)%>">
                        <div class="match-trait-asset-mask" style=" mask-image: url(<%= traitAsset.assetUrl %>); -webkit-mask-image: url(<%= traitAsset.assetUrl %>)"></div>
                      </div> 
                      <span class="trait-name"><%= traitAsset.name %> </span>
                    </li>
                    <% } %>
                  <% } %>
                </ul>
              </li>
              <li class="match-augments">
                <span>Augments</span>
                <ul>
                  <% for(var j=0; j<summonerMatches[i].data.augments.length; j++) { %>
                    <li>
                      <%= summonerMatches[i].data.augments[j].split('_')[2] %>
                    </li>
                  <% } %>
                </ul>
              </li>

            </ul>
          </li>
            <a href="/match/<%= summonerMatches[i].matchId.split('_')[1]%>">
              <%= summonerMatches[i].matchId%>
            </a>
          </li>
          <% } %>
        </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>  
        </div>
      </div>  
    </div>
  </div>
  </div>
</div>
<%- include('partials/footer') -%>