<%- include('partials/header') -%>

<main class="container">
    <div class="row">
        <h1>Stats</h1>
    </div>
    <div class="row">
        <ul class="unit-filter">
            <li class="unit-filter-selected">Set 8</li>
            <li>Set 7</li>
            
        </ul>
        <table id="unit-table">
            <tr>
                <th class="unit-header">Set</th>
                <th class="unit-header">Rarity</th>
                <th class="unit-header">Unit</th>
                <th class="unit-header">Common Item</td>
                <th class="unit-header" data-type="number"># games</th>
                <th class="unit-header" data-type="number">Win Rate</th>
                <th class="unit-header" data-type="number">Avg Rank</th>
            </tr>

                <% let unitKeys = Object.keys(unitStats) %>
                <% unitKeys.forEach(unitKey => { %>
                    <% let unit = unitStats[unitKey] %>
                    <% console.log("ID:", unit.character_id ) %>
                    <% let set = "set_" + unitKey.split("_")[0].slice(3,4) %>
                    <% let unitItems = Object.entries(unit.items).sort((a,b) => (b[1].games) - (a[1].games)) %>
                    <% let commonItem = unitItems.length > 0 ? unitItems[0] : ["TFTX_Placeholder", {} ] %>
                    <% let commonItemAsset = itemAssets.TFT.transparent.assetUrl %>
                    <% (commonItem[0].split('_')[0] === "TFT") ? commonItemAsset = itemAssets[commonItem[0].split('_')[0]][commonItem[0].split('_')[2]].assetUrl : commonItemAsset = itemAssets.TFT.transparent.assetUrl %>
                    <tbody class="unit-tbody">
                    <tr class="unit-row table-rarity-<%= unit.unit.rarity %>">
                        <td><%= unitKey.split("_")[0].slice(3) %></td>
                        <td><%= unit.unit.rarity + 1 %></td>
                        <td><img src="<%= championAssets[set].champions[unit.character_id.split('_')[1].toLowerCase()].assetUrl %>"><%= championAssets[set].champions[unit.character_id.split('_')[1].toLowerCase()].name %></td>
                        <td><img class="table-item" src="<%= commonItemAsset %>"></td>
                        <td><%= unit.games %></td>
                        <td><%= (Math.round(unit.wins/unit.games * 10000) / 100).toFixed(2) %></td>
                        <td><%= (Math.round(unit.rank/unit.games * 100) / 100).toFixed(2) %></td>
                    </tr>
                    <!--<% console.log(unit) %>-->
                    <% let unitTiers = Object.keys(unit.tier).sort() %>
                    <% unitTiers.forEach(cur => { %>
                    <tr class="unit-row subrow">
                        <td></td>
                        <td></td>
                        <td class="table-stars-rarity-<%= unit.unit.rarity %>"><%- "&#9733;".repeat(+cur) %></td>
                        <td></td>
                        <td><%= unit.tier[cur].games %></td>
                        <td><%= (Math.round(unit.tier[cur].wins / unit.tier[cur].games * 10000) / 100).toFixed(2) %></td>
                        <td><%= (Math.round(unit.tier[cur].rank / unit.tier[cur].games *100) / 100).toFixed(2) %></td>
                    </tr>

                    <% }) %>
                </tbody>
                <% }) %>
            

        </table>
    </div>
</main>

<script src="/js/stats.js"></script>
    

<%- include('partials/footer') -%>