<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">รง
      <div class="col-4">
          <div class="mt-5">
            <h2 class="main-color"><%= summoner[0].summonerName %></h2>
            <form action="/summoner/<%= summoner[0].summonerName %>/importMatches" enctype="multipart/form-data" method="POST">
              <button type="submit" class="btn btn-primary main-color-bg" value="submit">Import New Matches</button>
            </form>
          </div>
      </div>
      <div class ="col-8">
        <div class="mt-5 profile-stats">
          <ul>
            <li>
              <h3><%= ((stats.wins/stats.games)*100).toFixed(2) %></h3>
              <ul class="sub-stats">
                <li><%= ((stats.winsNormal/stats.normalGames)*100).toFixed(2) %></li>
                <li><%= ((stats.winsRanked/stats.rankedGames)*100).toFixed(2) %></li>
              </ul>
              <h5>Win Rate</h5>
            </li>
            <li>
              <h3><%= ((stats.totalPlacement/stats.games)).toFixed(2) %></h3>
              <ul class="sub-stats">
                <li><%= ((stats.totalPlacementNormal/stats.normalGames)).toFixed(2) %></li>
                <li><%= ((stats.totalPlacementRanked/stats.rankedGames)).toFixed(2) %></li>
              </ul>
              <h5>Avg. Place</h5>
            </li>
            <li>
              <h4>Top Traits</h4>
              <ul class="top-traits">
                <li><%= stats.traitArray[0][0].split('_')[1] %></li>
                <li><%= stats.traitArray[1][0].split('_')[1] %></li>
                <li><%= stats.traitArray[2][0].split('_')[1] %></li>
              </ul>
              
            </li>
            <li>
              <h4>Top Augments</h4>
              <ul class="top-traits">
                <li><%= stats.augmentArray[0][0].split('_')[2] %></li>
                <li><%= stats.augmentArray[1][0].split('_')[2] %></li>
                <li><%= stats.augmentArray[2][0].split('_')[2] %></li>
              </ul>
              
            </li>
          </ul>
          
        </div>
      </div>

    <div class="row">
      <div class="col-4">

      </div>
      <div class="col-8">
        <ul class="row list-unstyled">
          <% for(var i=0; i<summonerMatches.length; i++) {%>
          <li class="justify-content-between mt-5">
            <a href="/summoner/<%= summonerMatches[i].matchId%>">
              <%= summonerMatches[i].matchId%>
            </a>
          </li>
          <% } %>
        </ul>
          <div class="row justify-content-center mt-5">
            <a class="btn btn-primary" href="/feed">Return to Feed</a>
          </div>  
        </div>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>